<section>
  <div class="d-flex mt-5">
    <div class="col-3 d-flex justify-content-center">
      <div class="col-10">
        <div class="d-flex justify-content-between">
          <span class="fs-2">Filters</span>
          <a class="pt-3 me-2 text-muted" (click)="resetForm()">clear</a>
        </div>

        <div class="card p-4 full_filter">
          <b><i>Sort Options</i></b><br>
          <a class="btn btn-primary mb-2" (click)="sortByName()"
            >Sort by name</a
          >
          <a class="btn btn-primary mb-2" (click)="sortByPrice()"
            >Sort by price</a
          >
          <a class="btn btn-primary mb-2" (click)="sortByDate()"
            >Sort by date</a
          >
          <br>

          <b><i>Filter Options</i></b><br>
          <form #FilterForm="ngForm" (change)="onChange(FilterForm)">
            <label for="fromDate" class="form-label fw-bold"
              >Select from date</label
            >
            <input
              type="date"
              placeholder="Select date"
              id="fromDate"
              name="fromDate"
              class="form-control mb-2"
              [(ngModel)]="fromDate"
              [min]="fromDate"
            />
            <label for="toDate" class="form-label fw-bold"
              >Select to date</label
            >
            <input
              type="date"
              placeholder="Select date"
              id="toDate"
              name="toDate"
              class="form-control mb-3"
              [(ngModel)]="toDate"
              [min]="fromDate"
            />

            <mat-slider
              [min]="minLimit"
              [max]="maxLimit"
              [discrete]="true"
              [showTickMarks]="true"
              thumbLabel
            >
              <input
                matSliderStartThumb
                [(ngModel)]="minPrice"
                id="minPrice"
                name="minPrice"
                value={{minLimit}}
              />
              <input
                matSliderEndThumb
                [(ngModel)]="maxPrice"
                id="maxPrice"
                name="maxPrice"
                value={{maxLimit}}
              />
            </mat-slider>
            <br>

            <b>Select Venues</b>
            <div
              class="form-control mt-2 mb-2"
              *ngFor="let a of getUniqueVenues()"
            >
              <label>
                <input
                  type="checkbox"
                  name="venues"
                  id="venues"
                  (change)="onVenueCheckboxChange($event, a.id!)"
                /><span class="text-center px-2">{{ a.venue }}</span>
              </label>
            </div>

            <b>Select Categories</b>
            <div class="form-control mt-2 mb-2" *ngFor="let a of categories">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  id="categories"
                  (change)="onCategoryCheckboxChange($event, a.id!)"
                /><span class="text-center px-2">{{ a.name }}</span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-9 d-flex flex-column align-items-end">
      <div class="me-5 mb-4 col-3">
        <input
          class="form-control me-2 rounded"
          type="search"
          placeholder="Search..."
          aria-label="Search"
          [(ngModel)]="search"
          (ngModelChange)="searchReport()"
        />
      </div>
      <div class="row col-12">
        <div
          class="scroll-content shadow card col-4 mx-3 mb-5 col-3 p-0"
          style="width: 17rem"
          *ngFor="let a of resultData"
        >
          <img
            src="{{
              'http://localhost:8080/API/downloadFile/downloadImage/event/' +
                a.id
            }}"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ a.name }}</h5>
            <Button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="viewSeats(a)"
              >View Event</Button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-5">
        <div>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="col-6">
              <img
                height="100vh"
                src="{{
                  'http://localhost:8080/API/downloadFile/downloadImage/event/' +
                    singleEvent.id
                }}"
                class="img-fluid rounded-3 pe-3"
                style="width: 50vw"
                alt="Avatar"
              />
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between">
                <span class="fs-2 blink-soft"
                  >{{ getDiscountPercent() }}% offer</span
                >
                <ng-lottie [options]="options" height="10vh"></ng-lottie>
              </div>
              <h5 class="mb-0"><b>Event: </b>{{ singleEvent.name }}</h5>
              <h5 class="mb-0">
                <b>Description: </b> {{ singleEvent.description }}
              </h5>
              <h5 class="mb-0"><b>Venue: </b> {{ singleEvent.venue }}</h5>
              <h5 class="mb-0"><b>Date: </b> {{ singleEvent.date }}</h5>
              <h5 class="mb-0" *ngIf="getDiscountPercent()">
                <b>Price: </b>
                <span style="text-decoration: line-through" class="text-muted"
                  >${{ singleEvent.price }}.00</span
                ><span> ${{ getDiscountPrice(singleEvent.price!) }}</span>
              </h5>
              <h5 class="mb-0" *ngIf="!getDiscountPercent()">
                <b>Price: </b> {{ singleEvent.price }}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          routerLink="/seating"
          (click)="getSeats()"
        >
          Book Tickets
        </button>
      </div>
    </div>
  </div>
</div>
