<div class="d-flex justify-content-between mt-4 mb-4">
  <h1>Users</h1>
</div>
<table class="table align-middle mb-0 bg-white container">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Status</th>
        <th>Date</th>
        <th>Ticket Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of user">
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{a.name}}</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-bold mb-1">{{a.email}}</p>
        </td>
        <td>
            <p class="fw-bold mb-1">{{a.phone}}</p>
        </td>
        <td>
            <p class="fw-bold mb-1">{{a.address}}</p>
        </td>
        <td>
            <p class="fw-bold mb-1">{{a.role}}</p>
        </td>
        
      </tr>
    </tbody>
  </table>
