<div class="container rounded mt-5 mb-5">
  <div class="row">
    <div class="col-1 bod"></div>
    <div class="col-2 border-right">
      <div
        class="d-flex mod flex-column align-items-center text-center p-3 py-5 bod"
      >
        <div *ngIf="dp == null || dp == ''" class="d-flex">
          <img
            class="rounded-circle mt-5 bod"
            width="200px"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            src="../../../assets/images/Avatar.jpg"
          />
        </div>
        <div *ngIf="dp != null && dp != ''" class="d-flex">
          <img
            class="rounded-circle mt-5 bod"
            width="200px"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            src="{{
              'http://localhost:8080/API/downloadFile/downloadImage/Dp/' +
                user.id
            }}"
          />
        </div>
        <span class="font-weight-bold">{{ user.name }}</span
        ><span class="text-black-50">{{ user.email }}</span
        ><button class="btn btn-primary" routerLink="/notFound">
          change password
        </button>
      </div>
    </div>
    <div class="col-1 bod"></div>
    <div class="card shadow col-7 p-3 border-right">
      <form
        class="p-3 py-3"
        #profileForm="ngForm"
        (ngSubmit)="updateProfile(profileForm)"
      >
        <div class="d-flex flex-column align-items-center mb-3">
          <div class="fs-1">Profile Settings</div>

          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="hidden"
                class="form-control mb-3"
                placeholder="Name"
                ngModel
                name="id"
                [ngModel]="user.id"
              />
            </div>

            <div class="col-md-11 d-flex justify-content-center">
              <input
                type="text"
                class="form-control mb-3"
                placeholder="Name"
                ngModel
                name="name"
                [ngModel]="user.name"
              />
            </div>

            <div class="d-flex justify-content-between col-11">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control mb-3"
                  placeholder="Username"
                  name="username"
                  ngModel
                  [ngModel]="user.username"
                />
              </div>
              <div class="col-md-5">
                <input
                  type="text"
                  class="form-control mb-3 px-2"
                  placeholder="gender"
                  name="gender"
                  ngModel
                  [ngModel]="user.gender"
                />
              </div>
            </div>

            <div class="d-flex justify-content-between col-11">
              <div class="col-md-6">
                <input
                  type="email"
                  class="form-control mb-3"
                  placeholder="email"
                  name="email"
                  ngModel
                  [ngModel]="user.email"
                />
              </div>
              <div class="col-md-5">
                <input
                  type="number"
                  class="form-control mb-3"
                  placeholder="mobile"
                  name="phone"
                  ngModel
                  [ngModel]="user.phone"
                />
              </div>
            </div>

            <div class="col-md-11">
              <textarea
                type="text"
                class="form-control mb-3"
                placeholder="address"
                name="address"
                ngModel
                [ngModel]="user.address"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary profile-button" type="submit">
            Save Profile
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profile Picture</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div *ngIf="dp == null || dp == ''" class="d-flex">
          <img
            class="rounded-circle"
            width="250px"
            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
          />
        </div>
        <div *ngIf="dp != null && dp != ''" class="d-flex">
          <img
            class="rounded-circle"
            width="250px"
            src="{{
              'http://localhost:8080/API/downloadFile/downloadImage/Dp/' +
                user.id
            }}"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#reciept"
        >
          Update Profile
        </button>
      </div>
    </div>
  </div>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2020 Copyright:
    <a
      class="text-body"
      target="_blank"
      href="https://github.com/Barath-sermaperumal"
      >CodeWithBubblu.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
