  .seating-plan {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .row {
    display: flex;
    gap: 5px;
  }
  
  .seat {
    width: 50px; /* Adjust as needed for your layout */
    height: 50px; /* Adjust as needed for your layout */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .occupied {
    background-color: #FF0000; /* Change color to indicate occupied seats */
    color: #FFF; /* Change text color for better visibility */
    cursor: not-allowed; /* Change cursor for occupied seats */
  }
  
  .disabled {
    /* Styles for a disabled/booked seat */
    background-color: #CCCCCC; /* Change the background color for disabled seats */
    color: #777777; /* Change the text color for better visibility */
    cursor: not-allowed; /* Change cursor for disabled seats */
  }
  