.seating-plan {
    display: grid;
    gap: 5px;
  }
  
  .seat {
    width: 50px; /* Adjust as needed for your layout */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .occupied {
    background-color: #FF0000; /* Change color to indicate occupied seats */
    color: #FFF; /* Change text color for better visibility */
    cursor: not-allowed; /* Change cursor for occupied seats */
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .seat {
      width: 40px; /* Adjust size for smaller screens */
      height: 40px; /* Adjust size for smaller screens */
    }
  }

  .chair{
    color: black;
  }
  