<section class="overflow-auto container" style="height: 80vh">
  <div class="float-button d-flex p-3" (click)="downloadPdf()">
    <b><i class="bi bi-cloud-download text-white mb-0"></i></b>
  </div>
  <div class="d-flex justify-content-between mt-4 mb-4">
    <h1>Dashboard</h1>
    <div class="col-3">
      <input
        class="form-control me-2 rounded"
        type="search"
        placeholder="Search By Name"
        aria-label="Search"
        [(ngModel)]="search"
        (ngModelChange)="searchReport()"
      />
    </div>
  </div>

  <div *ngIf="report.length == 0" class="p-0 m-0">
    <ng-lottie [options]="options" height="70vh"></ng-lottie>
  </div>

  <table
    class="overflow-auto table align-middle mb-0 bg-white container"
    id="reportTable"
    *ngIf="report.length > 0"
  >
    <thead>
      <tr>
        <th class="text-center">Event Name</th>
        <th class="text-center">Date</th>
        <th class="text-center">Tickets Sold</th>
        <th class="text-center">Available Tickets</th>
        <th class="text-center">Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of report">
        <td>
          <div class="d-flex align-items-center">
            <img
              src="{{
                'http://localhost:8080/API/downloadFile/downloadImage/event/' +
                  a.eventId
              }}"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
            />
            <div class="ms-3">
              <p class="fw-normal mb-1">{{ a.eventName }}</p>
            </div>
          </div>
        </td>
        <td class="text-center">
          <p class="fw-normal mb-1">{{ a.date }}</p>
        </td>
        <td class="text-center">
          <p class="fw-normal mb-1" style="color: green">
            {{ a.tickets_sold }}
          </p>
        </td>
        <td class="text-center">
          <p class="fw-normal mb-1" style="color: red">
            {{ a.available_tickets - a.tickets_sold }}
          </p>
        </td>
        <td class="text-center">
          <p class="fw-normal mb-1">$ {{ a.revenue }}.00</p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
