<section class="overflow-auto container" style="height: 80vh">
  <div class="d-flex justify-content-between mt-4 mb-4">
    <h1>Orders</h1>
  </div>
  <table class="table align-middle mb-0 bg-white container">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th class="text-center">Status</th>
        <th class="text-center">Date</th>
        <th class="text-center">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of order">
        <td>
          <div class="d-flex align-items-center">
            <img
              src="{{
                'http://localhost:8080/API/downloadFile/downloadImage/Dp/' +
                  a.userId
              }}"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
            />
            <div class="ms-3">
              <p class="mb-1">{{ a.userName }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="mb-1">{{ a.eventName }}</p>
        </td>
        <td>
          <p class="mb-1 text-center">{{ a.date }}</p>
        </td>
        <td>
          <p class="mb-1 text-center">{{ a.count }}</p>
        </td>
        <td>
          <p class="mb-1 text-center">${{ a.totalPrice }}.00</p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
