<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        class="modal-body form"
        #categoryForm="ngForm"
        (ngSubmit)="addCategory(categoryForm)"
      >
        <input
          type="hidden"
          name="id"
          [(ngModel)]="cat.id"
          class="form-control mb-3"
        />
        <input
          type="hidden"
          name="events"
          [(ngModel)]="cat.events"
          class="form-control mb-3"
        />
        <input
          type="text"
          name="name"
          [(ngModel)]="cat.name"
          class="form-control mb-3"
          placeholder="Category Name"
        />
        <div class="form-outline mb-3">
          <label class="form-label" for="image">Choose Image</label>
          <input
            type="file"
            class="input-file"
            name="image"
            id="image"
            src="{{
              'http://localhost:8080/API/downloadFile/downloadImage/' + cat.id
            }}"
            [(ngModel)]="cat.image"
            (change)="onFileChange($event)"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="getAllCategories()"
          >
            Add Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="d-flex justify-content-between mt-4 mb-4">
  <h1>Genres</h1>
  <button
    type="button"
    class="btn btn-primary mb-3 mx-5"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add category
  </button>
</div>

<table class="table align-middle mb-0 bg-white container">
  <thead>
    <tr>
      <th>Id</th>
      <th>Thumbnail</th>
      <th>Genres</th>
      <th>Event count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of category">
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-normal mb-1">{{ a.id }}</p>
          </div>
        </div>
      </td>
      <td>
        <img
          src="{{
            'http://localhost:8080/API/downloadFile/downloadImage/' + a.id
          }}"
          class="rounded-circle"
          alt=""
          style="width: 45px; height: 45px"
        />
      </td>
      <td>
        <p class="fw-normal mb-1">{{ a.name }}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{ a.eventsCount }}</p>
      </td>

      <td class="d-flex">
        <div class="px-1">
          <a
            type="button"
            class="btn btn-primary btn-rounded btn-sm fw-bold"
            data-mdb-ripple-color="dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="openmodal(showCategory(a.id!))"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
        </div>
        <div class="px-1">
          <a
            type="submit"
            class="btn btn-danger btn-rounded btn-sm fw-bold"
            (click)="deleteCategory(a.id!)"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
