<style>
  .navbar {
    background-color: #fff;
  }
  .loginActions {
    border-radius: 20px;
  }
</style>
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />




</head>
<div *ngIf="!isLoggedIn" class="d-flex flex-column align-items-around">
  <div class="row" *ngIf="!isLoginOrRegister()">
    <header class="navbar">
      <div>
        <a class="navbar-brand px-3 text-black" routerLink="/"
          ><img src="../assets/images/Logo.png" height="70px"
        /></a>
      </div>
      <div
        class="navbar-nav px-5 d-flex text-black"
        routerLink="/login"
        role="button"
      >
        <div
          class="d-flex justify-content-end loginActions btn px-3 p-2 btn-primary"
        >
          <span>Sign In</span>
          <i class="fa-solid fa-right-from-bracket text-white p-1"></i>
        </div>
      </div>
    </header>
  </div>
  <router-outlet />
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2020 Copyright:
      <a
        class="text-body"
        target="_blank"
        href="https://github.com/Barath-sermaperumal"
        >CodeWithBubblu.com</a
      >
    </div>
    <!-- Copyright -->
  </footer>
</div>

<div
  *ngIf="isLoggedIn && !isLoginOrRegister()"
  class="d-flex flex-column align-items-around"
>
  <div class="row" style="gap: 0">
    <header class="navbar">
      <div>
        <a class="navbar-brand px-3 text-black" routerLink="/"
          ><img src="../assets/images/Logo.png" height="70px"
        /></a>
        <a class="navbar-brand text-black fs-5" *ngIf="!isAdmin" routerLink="/"
          ><b><i>Home</i></b></a
        >
        <a
          class="navbar-brand text-black fs-5"
          *ngIf="!isAdmin"
          routerLink="/events"
          ><b><i>Events</i></b></a
        >
        <a
          class="navbar-brand text-black fs-5"
          *ngIf="!isAdmin"
          routerLink="/order"
          ><b>Orders</b></a
        >
        <a
          class="navbar-brand text-black fs-5"
          *ngIf="!isAdmin"
          routerLink="/profile"
          ><b><i>Profile</i></b></a
        >
      </div>
      <div
        class="navbar-nav px-5 d-flex text-white"
        (click)="logout()"
        role="button"
      >
        <div
          class="d-flex justify-content-end loginActions btn px-3 p-2 btn-primary"
        >
          <span>Log Out</span>
          <i class="fa-solid fa-right-from-bracket text-white p-1"></i>
        </div>
      </div>
    </header>
    <p *ngIf="isAdmin" class="seprator p-0 m-0"></p>
  </div>

  <div *ngIf="isAdmin" class="row flex-grow-1 admindashboard">
    <div class="sidebar border border-right col-2 p-0 sidePosition">
      <div class="bg-body-tertiary vh-100 sidePosition" tabindex="-1">
        <div class="d-flex flex-column p-0 pt-3 overflow-y-auto">
          <ul class="nav flex-column affix">
            <li
              class="nav-item d-flex align-items-center px-5 sideBarItem"
              [ngClass]="getRoute() === 'admin' ? 'active' : ''"
            >
              <i class="fa-solid fa-house"></i>
              <a class="nav-link d-flex align-items-center" routerLink="/admin">
                Dashboard
              </a>
            </li>
            <li
              class="nav-item d-flex align-items-center px-5 sideBarItem"
              [ngClass]="getRoute() === 'adminCategory' ? 'active' : ''"
            >
              <i class="fa-solid fa-book"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminCategory"
                >Categories</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-5 sideBarItem"
              [ngClass]="getRoute() === 'adminEvent' ? 'active' : ''"
            >
              <i class="fa-solid fa-user"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminEvent"
                >Events</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-5 sideBarItem"
              [ngClass]="getRoute() === 'adminOrder' ? 'active' : ''"
            >
              <i class="fa-solid fa-clock-rotate-left"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminOrder"
                >Orders</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-5 sideBarItem"
              [ngClass]="getRoute() === 'adminControl' ? 'active' : ''"
            >
              <i class="fa-solid fa-clock-rotate-left"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminControl"
                >Users</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="container dashboard col-9">
      <router-outlet></router-outlet>
    </main>
  </div>

  <div *ngIf="!isAdmin">
    <router-outlet></router-outlet>
  </div>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2023 Copyright:
      <a
        class="text-body"
        target="_blank"
        href="https://github.com/Barath-sermaperumal"
        >CodeWithBubblu.com</a
      >
    </div>
    <!-- Copyright -->
  </footer>
</div>

<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
