@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script&display=swap');

:root {
  --primary-50: hsl(0, 0%, 100%);
  --primary-100: #e8e8e8;
  --primary-300: linear-gradient(111deg, rgba(82,80,255,1) 5%, rgba(219,113,255,1) 83%);
  /* --primary-500: #00baf2; */
  --primary-500: linear-gradient(111deg, rgba(82,80,255,1) 5%, rgba(219,113,255,1) 83%);
  /* --primary-600: #002970; */
  --primary-600:rgba(82,80,255,1);
  --primary-700: #eb79ff;
  --primary-900: #78350f;
  --secondary-100: #f1f5f9;
  --secondary-500: #64748b;
  --secondary-900: #0f172a;
  --red-100: #fee2e2;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --green-300: #bef264;
  --green-500: #84cc16;
  --green-700: #4d7c0f;
  --border-radius: 4px;
}


body {
  font-family: "Roboto,sans-serif";
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.bod{
  background-color: #F5F5F5;
}

.heading{
    font-size: 24px;
    font-weight: 700;
}

.navbar-brand{
  font-size: 24px;
  font-weight: 500;
}

/* text */
.text-primary {
  color: var(--primary-500) !important;
}

.bg-background {
  background: var(--primary-500);
}

/* background */
.bg-primary {
  background-color: var(--primary-600) !important;
}

/* button */
.btn {
  border-radius: var(--border-radius);
}

.btn-primary {
  color: var(--secondary-100);
  background: var(--primary-500);
  border: none;
}

.bg-normal{
  background-color: var(--primary-700) !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--secondary-100);
  background: var(--primary-600) !important;
  border: none;
}

.btn-danger {
  color: var(--secondary-100);
  background: var(--red-500);
  border: none;
}

.btn-danger:hover {
  color: var(--secondary-100);
  background: var(--red-700);
  border: none;
}

.btn-success {
  color: var(--secondary-100);
  background: var(--green-500);
  border: none;
}

.btn-success:hover {
  color: var(--secondary-100);
  background: var(--green-700);
  border: none;
}

/* form */
.form-control,
.form-control:focus {
  background-color: var(--bs-body-bg);
  outline: 0;
}

.form-label {
  color: var(--primary-500);
}

/* background color */
.bg-body-tertiary {
  background-color: var(--primary-100) !important;
}

.bg-normal{
  background-color: white;
}

.bg-primary{
  background-color: var(--primary-500);
}

/* Custom */
.error {
  background-color: var(--red-100);
  margin: 8px 0px;
  padding: 2px 6px;
  display: block;
  color: var(--red-700);
  border-radius: var(--border-radius);
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.sideBarActive,
.sideBarActive > a,
.sideBarActive > a:hover,
.sideBarActive > a:active {
  color: var(--primary-500);
  background-color: var(--primary-50) !important;
  padding: 8px;
}

.sideBarItem,
.sideBarItem > a 
{
  color: var(--primary-500);
  padding: 8px;
}

.sideBarItem > a:hover {
  color: var(--primary-500);
}

.active{
  background-color: white;
  color: black;
}

.sideBarActive > .fa-solid {
  color: var(--primary-500);
}

.sideBarItem:hover {
  color: var(--primary-500);
  background-color: var(--primary-50);
  padding: 8px;
}

/* Icon */
.fa-solid {
  color: var(--primary-300);
}

.loader {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
  left: 0;
  top: 0;
}

.lottie-loader {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  left: 45%;
}

.card-header{
  background: var(--primary-500);
  border: none;
}

.navbar{
  background-color: #333545;
  overflow-x: hidden !important;
}

.header{
  overflow-x: hidden !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  width: 0px !important;
  background-color: transparent !important;
  border-radius: 0px !important;
}

*::-webkit-scrollbar:horizontal {
  width: 0px !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb:horizontal {
  width: 0px !important;
  background-color: transparent !important;
  border-radius: 0px;
}

.seprator{
  height: 1px;
  background: var(--primary-300);
}

.sidebarPosition{
  position: fixed;
}